.DS_Store
bin/
assetmaint/
bi/
birt/
cmssite/
dock/
ebay/
ebaystore/
ecommerce/
example/
exampleext/
firstdatapaymentgateway/
ldap/
lucene/
msggateway/
multiflex/
myportal/
passport/
pricate/
projectmgr/
rest-api/
scrum/
solr/
webpos/
.git/
.github/
*.text
